{
    "organizationUuid": "",
    "rootLogLevel": "INFO",
    "logLevels": {
    },
    "dryRun":false,
    "rest": {
        "baseUrl": "http://bluerange:8080",
        "userAccessTokenAuth": ""
    },
    "mqtt": {
        "host": "mosquitto",
        "protocol": "tcp",
        "port": 1883,
        "username": "admin",
        "password": ""
    }
}
